In [3]:
%conda install pandas

Solving environment...
Solving took 0.21340000000596046 seconds
All requested packages already installed.

# Pandas

Python's version of Excel (but on steroids)

In [4]:
import pandas as pd

Series = A Pandas 1-Dimensional label array that can hold any data type
<br/>Think of it like a single column in a spreadsheet (1-Dimensional)

In [10]:
data = [100, 102, 104] # int
# data = [100.1, 102.2, 104.3] # float
# data = ["A", "B", "C"] # object
# data = [True, False, True] # boolean

series = pd.Series(data)

print(series)

0    100
1    102
2    104
dtype: int64

Can set custom labels:

In [14]:
series = pd.Series(data, index=["a", "b", "c"])

print(series)

a    100
b    102
c    104
dtype: int64

Access value direct within series:

In [23]:
series = pd.Series(data, index=["a", "b", "c"])

# prints 102
print(series.loc["b"])

102

Can change values within the series:

In [24]:
series = pd.Series(data, index=["a", "b", "c"])

series.loc["c"] = 200

print(series)

a    100
b    102
c    200
dtype: int64

Can locate by integer position:

In [28]:
series = pd.Series(data, index=["a", "b", "c"])

print(series.iloc[2]) # print 104

104

Filter by value:

In [33]:
data = [100, 102, 104, 200, 202]

series = pd.Series(data, index=["a", "b", "c", "d", "e"])

print(series[series >= 200])

d    200
e    202
dtype: int64

Dictionary example:

In [37]:
calories = {"Day 1": 1750, "Day 2": 2100, "Day 3": 1700}

series = pd.Series(calories)

print(series[series < 2000])

Day 1    1750
Day 3    1700
dtype: int64

## DataFrames

DataFrame = A tabular data structure with rows AND columns. (2 Dimensional)
<br/> Similar to an Excel spreadsheet

In [55]:
data = {"Name": ["SpongeBob", "Patrick", "Squidward"],
        "Age": [30, 35, 50]
}

df = pd.DataFrame(data, index=["Employee 1", "Employee 2", "Employee 3"])

print(df)

                 Name  Age
Employee 1  SpongeBob   30
Employee 2    Patrick   35
Employee 3  Squidward   50

Find specific object:

In [56]:
print(df.loc["Employee 1"])

Name    SpongeBob
Age            30
Name: Employee 1, dtype: object

Add a new column:

In [57]:
df["Job"] = ["Cook", "N/A", "Cashier"]

print(df)

                 Name  Age      Job
Employee 1  SpongeBob   30     Cook
Employee 2    Patrick   35      N/A
Employee 3  Squidward   50  Cashier

Add a new row:

In [58]:
new_rows = pd.DataFrame([{"Name": "Sandy", "Age": 28, "Job": "Engineer"},
                         {"Name": "Eugene", "Age": 60, "Job": "Manager"}], 
                       index=["Employee 4", "Employee 5"])

# concatenate
df = pd.concat([df, new_rows])

print(df)

                 Name  Age       Job
Employee 1  SpongeBob   30      Cook
Employee 2    Patrick   35       N/A
Employee 3  Squidward   50   Cashier
Employee 4      Sandy   28  Engineer
Employee 5     Eugene   60   Manager

## Import CSV + JSON Files

In [5]:
import pandas as pd

In [58]:
df = pd.read_csv("data.csv", index_col=["Name"])

print(df)

# will print all data
# print(df.to_string)

            Number   Type 1  Type 2   HP  Attack  Defense  Sp.Attack  \
Name
Bulbasaur        1    Grass  Poison   45      49       49         65
Ivysaur          2    Grass  Poison   60      62       63         80
Venusaur         3    Grass  Poison   80      82       83        100
Charmander       4     Fire     NaN   39      52       43         60
Charmeleon       5     Fire     NaN   58      64       58         80
...            ...      ...     ...  ...     ...      ...        ...
Dratini        147   Dragon     NaN   41      64       45         50
Dragonair      148   Dragon     NaN   61      84       65         70
Dragonite      149   Dragon  Flying   91     134       95        100
Mewtwo         150  Psychic     NaN  106     110       90        154
Mew            151  Psychic     NaN  100     100      100        100

            Sp.Defense  Speed
Name
Bulbasaur           65     45
Ivysaur             80     60
Venusaur           100     80
Charmander          50     65
Charmeleon          65     80
...                ...    ...
Dratini             50     50
Dragonair           70     70
Dragonite          100     80
Mewtwo              90    130
Mew                100    100

[151 rows x 9 columns]

Selection by column:

In [12]:
print(df["Name"])

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
146       Dratini
147     Dragonair
148     Dragonite
149        Mewtwo
150           Mew
Name: Name, Length: 151, dtype: object

In [15]:
print(df[["Name", "HP", "Attack", "Defense"]])

           Name   HP  Attack  Defense
0     Bulbasaur   45      49       49
1       Ivysaur   60      62       63
2      Venusaur   80      82       83
3    Charmander   39      52       43
4    Charmeleon   58      64       58
..          ...  ...     ...      ...
146     Dratini   41      64       45
147   Dragonair   61      84       65
148   Dragonite   91     134       95
149      Mewtwo  106     110       90
150         Mew  100     100      100

[151 rows x 4 columns]

Selection by row(s):

In [29]:
print(df.loc["Pikachu"])

Number              25
Type 1        Electric
Type 2             NaN
HP                  35
Attack              55
Defense             40
Sp.Attack           50
Sp.Defense          50
Speed               90
Name: Pikachu, dtype: object

In [28]:
print(df.loc["Pikachu", ["HP", "Attack", "Defense"]])

HP         35
Attack     55
Defense    40
Name: Pikachu, dtype: object

In [33]:
print(df.iloc[0:11:2, 0:3])

            Number Type 1  Type 2
Name
Bulbasaur        1  Grass  Poison
Venusaur         3  Grass  Poison
Charmeleon       5   Fire     NaN
Squirtle         7  Water     NaN
Blastoise        9  Water     NaN
Metapod         11    Bug     NaN

## Fitlering

In [35]:
health_pokemon = df[df["HP"] >= 100]

print(health_pokemon)

            Number   Type 1 Type 2   HP  Attack  Defense  Sp.Attack  \
Name
Jigglypuff      39   Normal  Fairy  115      45       20         45
Wigglytuff      40   Normal  Fairy  140      70       45         85
Muk             89   Poison    NaN  105     105       75         65
Rhydon         112   Ground   Rock  105     130      120         45
Chansey        113   Normal    NaN  250       5        5         35
Kangaskhan     115   Normal    NaN  105      95       80         40
Lapras         131    Water    Ice  130      85       80         85
Vaporeon       134    Water    NaN  130      65       60        110
Snorlax        143   Normal    NaN  160     110       65         65
Mewtwo         150  Psychic    NaN  106     110       90        154
Mew            151  Psychic    NaN  100     100      100        100

            Sp.Defense  Speed
Name
Jigglypuff          25     20
Wigglytuff          50     45
Muk                100     50
Rhydon              45     40
Chansey            105     50
Kangaskhan          80     90
Lapras              95     60
Vaporeon            95     65
Snorlax            110     30
Mewtwo              90    130
Mew                100    100

In [39]:
water_pokemon = df[(df["Type 1"] == "Water") | 
                   (df["Type 2"] == "Water")]

print(water_pokemon)

            Number Type 1    Type 2   HP  Attack  Defense  Sp.Attack  \
Name
Squirtle         7  Water       NaN   44      48       65         50
Wartortle        8  Water       NaN   59      63       80         65
Blastoise        9  Water       NaN   79      83      100         85
Psyduck         54  Water       NaN   50      52       48         65
Golduck         55  Water       NaN   80      82       78         95
Poliwag         60  Water       NaN   40      50       40         40
Poliwhirl       61  Water       NaN   65      65       65         50
Poliwrath       62  Water  Fighting   90      95       95         70
Tentacool       72  Water    Poison   40      40       35         50
Tentacruel      73  Water    Poison   80      70       65         80
Slowpoke        79  Water   Psychic   90      65       65         40
Slowbro         80  Water   Psychic   95      75      110        100
Seel            86  Water       NaN   65      45       55         45
Dewgong         87  Water       Ice   90      70       80         70
Shellder        90  Water       NaN   30      65      100         45
Cloyster        91  Water       Ice   50      95      180         85
Krabby          98  Water       NaN   30     105       90         25
Kingler         99  Water       NaN   55     130      115         50
Horsea         116  Water       NaN   30      40       70         70
Seadra         117  Water       NaN   55      65       95         95
Goldeen        118  Water       NaN   45      67       60         35
Seaking        119  Water       NaN   80      92       65         65
Staryu         120  Water       NaN   30      45       55         70
Starmie        121  Water   Psychic   60      75       85        100
Magikarp       129  Water       NaN   20      10       55         15
Gyarados       130  Water    Flying   95     125       79         60
Lapras         131  Water       Ice  130      85       80         85
Vaporeon       134  Water       NaN  130      65       60        110
Omanyte        138   Rock     Water   35      40      100         90
Omastar        139   Rock     Water   70      60      125        115
Kabuto         140   Rock     Water   30      80       90         55
Kabutops       141   Rock     Water   60     115      105         65

            Sp.Defense  Speed
Name
Squirtle            64     43
Wartortle           80     58
Blastoise          105     78
Psyduck             50     55
Golduck             80     85
Poliwag             40     90
Poliwhirl           50     90
Poliwrath           90     70
Tentacool          100     70
Tentacruel         120    100
Slowpoke            40     15
Slowbro             80     30
Seel                70     45
Dewgong             95     70
Shellder            25     40
Cloyster            45     70
Krabby              25     50
Kingler             50     75
Horsea              25     60
Seadra              45     85
Goldeen             50     63
Seaking             80     68
Staryu              55     85
Starmie             85    115
Magikarp            20     80
Gyarados           100     81
Lapras              95     60
Vaporeon            95     65
Omanyte             55     35
Omastar             70     55
Kabuto              45     55
Kabutops            70     80

## Aggregate Functions

Aggregate functions = Reduces a set of values into a single summary value
<br> Used to summarise and analyse data
<br> Often used with the `groupby()` function

In [44]:
# Whole dataframe

print(df.mean(numeric_only=True))

Number        76.000000
HP            64.211921
Attack        72.913907
Defense       68.225166
Sp.Attack     67.139073
Sp.Defense    66.086093
Speed         69.066225
dtype: float64

In [46]:
# Single column

print("HP",df["HP"].mean())

HP 64.21192052980132

In [48]:
group = df.groupby("Type 1")

print(group["Speed"].mean())

Type 1
Bug          57.083333
Dragon       66.666667
Electric    100.000000
Fairy        47.500000
Fighting     66.142857
Fire         84.000000
Ghost        95.000000
Grass        52.083333
Ground       58.125000
Ice          90.000000
Normal       69.772727
Poison       58.785714
Psychic      93.000000
Rock         58.333333
Water        67.714286
Name: Speed, dtype: float64

## Data cleaning

Data cleaning = the process of fixing/removing incomplete, incorrect, or irrelevant data.
<br>~75% of work done with Pandas is data cleaning

### #1 Drop irrelevant columns:

In [57]:
df = df.drop(columns=["Sp.Attack"])

print(df)

            Number   Type 1  Type 2   HP  Attack  Defense  Sp.Defense  Speed
Name
Bulbasaur        1    Grass  Poison   45      49       49          65     45
Ivysaur          2    Grass  Poison   60      62       63          80     60
Venusaur         3    Grass  Poison   80      82       83         100     80
Charmander       4     Fire     NaN   39      52       43          50     65
Charmeleon       5     Fire     NaN   58      64       58          65     80
...            ...      ...     ...  ...     ...      ...         ...    ...
Dratini        147   Dragon     NaN   41      64       45          50     50
Dragonair      148   Dragon     NaN   61      84       65          70     70
Dragonite      149   Dragon  Flying   91     134       95         100     80
Mewtwo         150  Psychic     NaN  106     110       90          90    130
Mew            151  Psychic     NaN  100     100      100         100    100

[151 rows x 8 columns]

### #2 Handle missing data

In [ ]:
# Removes all pokemon missing 'Type 2'

df = df.dropna(subset=["Type 2"])

print(df)

Replace missing values with `'None'`:

In [59]:
df = df.fillna({"Type 2": "None"})

print(df)

            Number   Type 1  Type 2   HP  Attack  Defense  Sp.Attack  \
Name
Bulbasaur        1    Grass  Poison   45      49       49         65
Ivysaur          2    Grass  Poison   60      62       63         80
Venusaur         3    Grass  Poison   80      82       83        100
Charmander       4     Fire    None   39      52       43         60
Charmeleon       5     Fire    None   58      64       58         80
...            ...      ...     ...  ...     ...      ...        ...
Dratini        147   Dragon    None   41      64       45         50
Dragonair      148   Dragon    None   61      84       65         70
Dragonite      149   Dragon  Flying   91     134       95        100
Mewtwo         150  Psychic    None  106     110       90        154
Mew            151  Psychic    None  100     100      100        100

            Sp.Defense  Speed
Name
Bulbasaur           65     45
Ivysaur             80     60
Venusaur           100     80
Charmander          50     65
Charmeleon          65     80
...                ...    ...
Dratini             50     50
Dragonair           70     70
Dragonite          100     80
Mewtwo              90    130
Mew                100    100

[151 rows x 9 columns]

### #3 Fix inconsistent values:

In [63]:
df["Type 1"] = df["Type 1"].replace({"grass": "GRASS"})

print(df)

            Number   Type 1  Type 2   HP  Attack  Defense  Sp.Attack  \
Name
Bulbasaur        1    grass  Poison   45      49       49         65
Ivysaur          2    grass  Poison   60      62       63         80
Venusaur         3    grass  Poison   80      82       83        100
Charmander       4     Fire    None   39      52       43         60
Charmeleon       5     Fire    None   58      64       58         80
...            ...      ...     ...  ...     ...      ...        ...
Dratini        147   Dragon    None   41      64       45         50
Dragonair      148   Dragon    None   61      84       65         70
Dragonite      149   Dragon  Flying   91     134       95        100
Mewtwo         150  Psychic    None  106     110       90        154
Mew            151  Psychic    None  100     100      100        100

            Sp.Defense  Speed
Name
Bulbasaur           65     45
Ivysaur             80     60
Venusaur           100     80
Charmander          50     65
Charmeleon          65     80
...                ...    ...
Dratini             50     50
Dragonair           70     70
Dragonite          100     80
Mewtwo              90    130
Mew                100    100

[151 rows x 9 columns]

### #4 Standardise Text

In [ ]:
# lowercase all names

df["Name"] = df["Name"].str.lower()

### #5 Fix data types

In [ ]:
# DO NOT RUN THIS. DOESN'T EXIST IN .CSV

# Only showing that you can change data types with astype

df["Legendary"] = df["Legendary"].astype(bool)

### #6 Remove duplicate values

In [ ]:
# Drops duplicates in code

df = df.drop_duplicates()

print(df)